* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  /* height: 100%;
  width: 100%; */
  font-family: Bebas Neue, sans-serif;
  font-size: 100%;
  background-image: linear-gradient(#1f1e1f, #e7425f);
  /* margin: 0px; */
}
nav {
  display: flex;
  position: sticky;
  height: 80px;
  width: 100%;
  top: 0;
  background-color: rgb(24, 20, 20);
  /* margin-top: 8px;
  margin-left: -8px;
  margin-right: -8px; */
}
/* .navigation {
  height: 80%;
  border-radius: 15px;
  background: linear-gradient(#64a3df, #56abb38f);
} */

.nav2 {
  height: 40%;
  width: 100%;
  font-size: 20px;
  color: white;
  margin-top: 30px;
  padding-left: 20%;
  /* padding-top: 3%; */
}

div {
  height: 10rem;
  width: 100%;
  /* border: 1px solid; always use borders (solid to) highlight my borders */
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.hero {
  height: 250px;
  width: 95%;
  margin: 30px;
}

.hero1 {
  padding-top: 25px;
  height: 90px;
  width: 100%;
  font-family: Bebas Neue, sans-serif;
  color: rgb(219, 219, 219);
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: rgb(219, 219, 219);
}

a::before,
a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  color: #f1f5f7;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

.cylon_eye {
  height: 100%;
  width: 20%;

  -webkit-animation: 5s linear 0s infinite alternate move_eye;
  animation: 5s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes move_eye {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 100%;
  }
}

.about-me {
  display: flex;
  height: 550px;
  width: 100%;
  margin: 30px;
}

.just-about {
  height: 100%;
  width: 95%;
  padding-top: 25px;
}

.ima {
  height: 500px;
  background: url("img/img1.jpeg") no-repeat;
  background-size: cover;
}

.home-about {
  display: grid;
  gap: 55px;
  height: 100%;
}

.all-about {
  height: fit-content;
  color: white;
}

.about-me1 {
  height: fit-content;
  width: 500px;
  padding-left: 20px;
  color: white;
}
.learnt-this {
  display: flex;
  margin: 30px;
  padding-top: 130px;
}

.new-learn {
  height: 300px;
  width: 100%;
}

.new-about {
  width: 100%;
  height: fit-content;
}

#main__img {
  height: 300px;
  width: 100%;
}

.banner {
  max-width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
  border-radius: 15px;
  border: 5px;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face1 h2 {
  box-sizing: border-box;
  padding: 20px;
}

h2 {
  margin: 0;
  padding: 0;
}

.html {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.css {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.face2 {
  transition: 0.5s;
}

.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card:hover .face.face2 {
  height: 60px;
}
.card:hover .face.face2 h2 {
  font-size: 2em;
}

/* .face2 h2 {
  font-size: 2em;
} */

.card:nth-child(1) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #ff6600 0%,
    #9418e7 45%,
    #ffc400 100%
  );
  border-radius: 15px;
}

.card:nth-child(2) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #9418e7 0%,
    #ffc400 45%,
    #ff6600 100%
  );
  border-radius: 15px;
}

.card:nth-child(3) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #00fffc 0%,
    #fc00ff 45%,
    #fffc00 100%
  );
  border-radius: 15px;
}

.slide-inn {
  width: 96%;
  margin: 30px;
}

.p {
  overflow: hidden;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  nav {
    position: sticky;
    display: grid;
    width: 100%;
    height: 200px;
    /* grid-template-columns: 1fr; */
  }

  .nav2 {
    display: grid;
    height: 80%;
    width: 65%;
    gap: 5px;
    margin: 30px;
  }

  .hero {
    width: 85%;
  }

  .about-me {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 85%;
  }

  .just-about {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  .ima {
    /* height: fit-content; */
    height: 200px;
    background-size: contain;
  }

  .home-about {
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .all-about {
    width: 60%;
    font-size: 10px;
    margin-left: 60px;
    margin-top: 3px;
  }

  .about-me1 {
    width: 80%;
    margin-left: 20px;
  }

  .learnt-this {
    padding-top: 8px;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .new-learn {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  #new-about {
    padding-left: 20px;
  }

  .slide-inn {
    width: 85%;
    height: 200px;
  }

  .p {
    width: 100%;
    height: 150px;
    font-size: 5px;
    padding-top: 20px;
    margin-top: 20px;
  }
}
